*.lnk
*.ipynb*
*.sh
*.pyc
*.bck
git-gui*
jupyter-notebook-Shortcut*
pipe_dirs/**
additional_modules
jupyter/**
pull_commands.csh
parameter_sets/**
comparison_with_others.docx
.project
.pydevproject
dist
NeatSeq_Flow.egg-info
!env_vars.sh
cp_to_main.bat
my_backup_log.txt
.idea/
condaenv/
venv/
workflows_devel/
docs/build/**
*.mine/
_themes/
.DS_Store
